<!--<div id ="repertoire"></div>-->
<!--<mat-card class="container example-card">-->
<!--  <div class="card-header">-->
<!--    <h4>Login</h4>-->
<!--  </div>-->
<!--  <form [formGroup]="repertoireForm" (ngSubmit)="add()">-->
<!--    <mat-form-field class ="input">-->
<!--      <input matInput formControlName="dateValue" [matDatepicker]="picker" placeholder="Choose a date">-->
<!--      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>-->
<!--      <mat-datepicker #picker></mat-datepicker>-->
<!--    </mat-form-field>-->
<!--    <div class="24hr-example">-->
<!--      <input formControlName="time" placeholder="24hr format" aria-label="24hr format" [ngxTimepicker]="fullTime"-->
<!--             [format]="24" readonly>-->
<!--      <ngx-material-timepicker #fullTime></ngx-material-timepicker>-->
<!--    </div>-->

<!--    <button [disabled]="!repertoireForm.valid" mat-raised-button  type="submit">-->
<!--      Zapisz-->
<!--    </button>-->
<!--  </form>-->
<!--</mat-card>-->


<div id="repertoire"></div>
<div class="container">
  <mat-toolbar style="width: 105%;color: white; background: linear-gradient(#bb005d, #7f0045);">
    <span>My Application</span>
  </mat-toolbar>
</div>
<mat-card class="container example-card">
  <!--  <div class="card-header">-->
  <form [formGroup]="repertoireForm" (ngSubmit)="add()">
    <mat-form-field class="input mat-form-field-infix">
      <input matInput formControlName="dateValue" [matDatepicker]="picker" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <div class="24hr-example">
      <input class="time-input" formControlName="time" placeholder="24hr format" aria-label="24hr format"
             [ngxTimepicker]="fullTime"
             [format]="24" readonly>
      <ngx-material-timepicker #fullTime></ngx-material-timepicker>
    </div>

    <button [disabled]="!repertoireForm.valid" mat-raised-button type="submit">
      Zapisz
    </button>
  </form>
</mat-card>
