.video{
  margin-top: 100px;
  padding: 5%
}

.image{
  padding: 5% 5% 5% 5%;

}

.movie-details{
  margin-bottom: 180px;
  padding: 5% 5% 5% 5%;
}
.description{
  float: left;
  position: marker;
  margin-top: 220px;
}
.description-movie{
  margin-top: 50px;
  font-size: 18px ;
}
.details{

  display: block;
  float: left;
  margin-right: 10px;
  padding-left: 15px;
  position: relative;
}

.movie-title{
  /*margin-left: 15%;*/
  /*text-align: center;*/
  /*font-family: isonormregular;*/
  /*font-size: 19px;*/
  padding-right: 8%;
  text-align: center;
}
.ytp-cued-thumbnail-overlay-image {
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 40%;
  height: 50%;
  position: absolute;
}

.space{
  margin-top: 29%;
}

.another-movie{
  clear: both;
}

.poster{
  margin-bottom: 50px;
  padding-right: 55px;
  padding-left: 55px;
  /*width: 120%;*/
width: 390px;
  padding-top: 25px;
}
.pp{
  margin-left: 10%;

}
.movie-header{

  text-align: center;
  margin-bottom: 100px;
  font-family: "Arial Black";
}

.movie-item h5 {
  font-size: 18px;
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 5px;
}

