<div class="6 mx-auto video rounded float-left">
  <div *ngIf="videos$ | async as videoDtos">
    <div *ngFor="let element of videoDtos">
      <iframe allowfullscreen class="ytp-cued-thumbnail-overlay-image" [src]="element"></iframe>
    </div>
  </div>
</div>


<div class="col-6 movie-details rounded float-right">
  <div *ngIf="images$ | async as imageDtos">
    <div *ngFor="let element of imageDtos">
      <img class="image rounded float-left" src="{{element.poster}}">
    </div>
    <div class=movie-margin>
      <div *ngIf="movie$ | async as movieDto">
        <h1>{{movieDto.title}}</h1>
        <p class="details">
          <span>{{movieDto.releaseDate}}</span>
          <span> {{movieDto.duration}} minut</span>
          <!--          <span>{{movieDto.genre}}</span>-->
        </p>
        <p class="description-movie">
          {{movieDto.description}}
        </p>
      </div>
    </div>
  </div>
  <div class="space">
    <app-movie-details-reservation [movieId]="movieId"></app-movie-details-reservation>
  </div>
</div>
<section class="  another-movie">
  <h2 class="movie-header">Zobacz także:</h2>
  <div *ngIf="imagesByMovieIds$ | async as imageDtos">
    <div class="row col-10 pp">
      <div *ngFor="let element of imageDtos">
        <img class="poster" src="{{element.poster}}">
              <div class ="container col-12">
        <h6 class="movie-title">{{element.movieDto.title}}</h6>
              </div>
        <!--      <span class="type ng-binding">Obyczajowy</span>-->
        <!--      <span class="duration ng-binding">103 min.</span>-->
      </div>
    </div>
  </div>
</section>

<!--<div class="col-6 movie-details rounded float-left space">-->
<!--  <app-movie-details-reservation class = "space" [movieId]="movieId"></app-movie-details-reservation>-->

<!--</div>-->

<!--ladoanie godzin  z pliku reservation,ts-->
<!--  <div class="col-7  rounded float-right description ">-->
<!--    <div *ngIf="movie$ | async as movieDto">-->
<!--      <h1>{{movieDto.title}}</h1>-->
<!--      <p class="details">-->
<!--        <span>{{movieDto.releaseDate}}</span>-->
<!--        <span> {{movieDto.duration}} minut</span>-->
<!--        <span>{{movieDto.genre}}</span>-->
<!--      </p>-->

<!--      <p class="description-movie">-->
<!--        {{movieDto.description}}-->
<!--      </p>-->
<!--    </div>-->
<!--  </div>-->

<!--</div>-->

<!--<div class="col-9  rounded float-right ">-->

<!--  <div *ngIf="movie$ | async as movieDto">-->
<!--    {{movieDto.description}}-->
<!--  </div>-->
<!--</div>-->


<!--<div class="rounded float-right">-->
<!--  <div *ngIf="movie$ | async as movieDto">-->
<!--    {{movieDto.description}}-->
<!--  </div>-->
<!--</div>-->
