table {
  width: 100%;
  margin-top: 5%;
}

.title {
  letter-spacing: .15em;
  padding-bottom: 20px;
  padding-top: 20px;
  font-family: Yu Gothic UI Semibold;
  /*font-family: Source Sans Pro,Helvetica,Arial,sans-serif;*/
  text-transform: uppercase;
  font-size: 19px;
  /*color: #312235;*/
  color: #4c1e5f;
}


.another-movie {
  clear: both;
}

.poster {
  margin-bottom: 50px;
  padding-right: 90px;
  width: 395px;
  padding-top: 25px;
}

.poster:hover {
  margin-bottom: 50px;
  padding-right: 90px;
  width: 395px;
  padding-top: 25px;
  opacity: 0.65;
  transition: box-shadow .15s ease-in-out;


}

.pp {
  margin-left: 10%;

}

.movie-header {

  text-align: center;
  margin-bottom: 100px;
  font-family: Yu Gothic UI Semibold;
}

.movie-item h5 {
  font-size: 18px;
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 5px;
}

.space {
  margin-left: 13%;
}

.space-title {
  margin-bottom: 40px;
  margin-top: 40px;
  color: #c8006d;
}

.movieDto-title {
  padding-right: 25%;
  text-align: center;
}

.container-space {
  margin-left: 42.5%;
  margin-top: 100px;
}

.font {
  font-family: "Arial Black";
}

.button-time:hover {
  /*padding-right: 4px;*/
  /*padding-left: 4px;*/
  /*transition: all .1s ease-in-out;*/
  /*border: 1px solid #4c1e5f;*/
  /*background-color: white;*/
  text-decoration: none;
  /*color: #fff;*/
  /*padding-top: 3%;*/
  /*border-color: #4c1e5f;*/
  background: #c8006d;
  color: white;
  margin: 5px 5px 5px 5px;
}

.button-time {
  padding-right: 4px;
  padding-left: 4px;
  transition: all .1s ease-in-out;
  /*border: 1px solid #4c1e5f;*/
  border-right: 1px solid #c8006d;
  border-left: 1px solid #c8006d;
  border-top: 1px solid #c8006d;
  border-bottom: 1px solid #c8006d;
  background-color: white;
  margin: 5px 5px 5px 5px;


}

.size {
  width:80%;
  padding-left: 150px;
  /*margin-left: 44%;*/
  /*margin-right: 44%;*/
  /*margin-left: -350%;*/
  /*margin-right: 550px;*/
}

tr:hover {
  background-color: #f5f5f5;
  /*background-color: gold;*/
}

.play {
  color: black;
  font-size: 33px;

}

.title-movie-list {
  color: #c8006d;
}

.mat-header-cell {
  font-size: 22px;
  color: #4c1e5f;
  font-family: "Arial Black";
  background-color: white;
  padding-bottom: 50px
}

.title-movie-list{
  font-size: 60px;
  font-family: "Arial Black";
  padding-bottom: 20px;
}

.button-row{
  padding-left: 12%;
}

.reservation{
  /*padding-right: 30%;*/
}

.reservation-size{
margin-right: 200px}

.video{
padding-left: 2px;
}
.video-title{
  width: auto;
}
