table {
  max-width: 100%;
  margin-top: 5%;
}

.poster {
  margin-bottom: 50px;
  padding-right: 90px;
  width: 395px;
  padding-top: 25px;
}

.poster:hover {
  margin-bottom: 50px;
  padding-right: 90px;
  width: 395px;
  padding-top: 25px;
  opacity: 0.65;
  transition: box-shadow .15s ease-in-out;
}

.button-time:hover {
  text-decoration: none;
  background: #c8006d;
  color: white;
  margin: 5px 5px 5px 5px;
}

.button-time {
  padding-right: 4px;
  padding-left: 4px;
  transition: all .1s ease-in-out;
  /*border: 1px solid #4c1e5f;*/
  border-right: 1px solid #c8006d;
  border-left: 1px solid #c8006d;
  border-top: 1px solid #c8006d;
  border-bottom: 1px solid #c8006d;
  background-color: white;
  margin: 5px 5px 5px 5px;


}

tr:hover {
  background-color: #f5f5f5;
}

.play {
  color: black;
  font-size: 33px;
  margin-left: 14%;

}

.title-movie-list {
  color: #c8006d;
  margin-left: 42%;
  font-size: 35px;
  margin-top: 55px;
  font-family: "Arial Black";
  margin-bottom: 40px
}

.video {
  padding-left: 2px;
}

.movie-search {
  display: flex;
  align-items: center;
  flex:1 1 auto;
  margin-left: 40.5%;

}
.my-search-button{
  color: white;
}

#admin {
  margin-top: 50px;
}

td {
  padding: 5px 2.5px 5px 2.5px;
}

th {
  padding: 2.5px 2.5px;
}

.mat-header-cell {
  color: white;
  letter-spacing: .09em;
  background: linear-gradient(#bb005d, #7f0045);
  margin-bottom: 10%;
  text-transform: uppercase;
  font-family: Yu Gothic UI Semibold;
  font-size: 12px;

}

tr:hover {
  background-color: #f5f5f5;
}

td mat-cell {
  font-family: "Apple Color Emoji";
}

.mat-header-cell {
  font-size: 14px;
  font-family: "Arial Black";
  padding-bottom: 16px;
  padding-left: 9px;
}

.row-admin{
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: 15px;
}

td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-type {
  padding-left: 24px;
  padding-top: 14px;
}

.space {
  margin-top: 29%;
}

.another-movie {
  clear: both;
}

.poster {
  margin-bottom: 50px;
  padding-right: 55px;
  padding-left: 55px;
  width: 390px;
  padding-top: 25px;
}

.poster:hover {
  margin-bottom: 50px;
  padding-right: 55px;
  padding-left: 55px;
  width: 350px;
  padding-top: 25px;
  padding-top: 25px;
  opacity: 0.65;
  transition: box-shadow .15s ease-in-out;
}

.pp {
  margin-left: 10%;

}

.movie-header {

  text-align: center;
  margin-bottom: 100px;
  font-family: "Arial Black";
}

.movie-title {
  padding-right: 8%;
  text-align: center;
}
