<div *ngIf="moviesPage$ | async as moviesPage">
  <table mat-table [dataSource]="moviesPage.content">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>
        id
      </th>
      <td mat-cell *matCellDef="let element">
        {{element.id}}
      </td>
    </ng-container>
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>
        title
      </th>
      <td mat-cell *matCellDef="let element">
        {{element.title}}
      </td>
    </ng-container>
    <ng-container matColumnDef="genre">
      <th mat-header-cell *matHeaderCellDef>
        genre
      </th>
      <td mat-cell *matCellDef="let element">
        {{element.genre}}
      </td>
    </ng-container>
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>
        price
      </th>
      <td mat-cell *matCellDef="let element">
        {{element.price}}
      </td>
    </ng-container>
    <ng-container *ngIf="token$ | async" matColumnDef="reservation">
      <th mat-header-cell *matHeaderCellDef>
        reservation
      </th>
      <td mat-cell *matCellDef="let element">
        <button (click)="reserve(element)">
          <mat-icon>add_shopping_cart</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container *ngIf="currentUser$ | async" matColumnDef="remove">
      <th mat-header-cell *matHeaderCellDef>
        remove
      </th>
      <td mat-cell *matCellDef="let element">
        <button (click)="remove(element)">
          usun
        </button>
      </td>
    </ng-container>

    <ng-container *ngIf="currentUser$ | async" matColumnDef="dodaj">
      <th mat-header-cell *matHeaderCellDef>
        dodaj
      </th>
      <td mat-cell *matCellDef="let element">
        <a routerLink="/repertoire/{{element.id}}">
          dodaj
        </a>
      </td>
    </ng-container>


    <ng-container *ngIf="currentUser$ | async" matColumnDef="edytuj">
      <th mat-header-cell *matHeaderCellDef>
        edytuj
      </th>
      <td mat-cell *matCellDef="let element">
        <button (click)="edit(element)">
          edytuj
        </button>
      </td>
    </ng-container>

<!--    <ng-container *ngIf="currentUser$ | async" matColumnDef="edytuj">-->
<!--      <th mat-header-cell *matHeaderCellDef>-->
<!--        edytuj-->
<!--      </th>-->
<!--      <td mat-cell *matCellDef="let element">-->
<!--        <button (click)="edit(element)">-->
<!--        </button>-->
<!--      </td>-->
<!--    </ng-container>-->

    <ng-container matColumnDef="films">
      <!-- matColumnDef - mowi jaka kolumna ma byc wyswetlana powizazna z tablcia strigow w kompoencie-->
      <th mat-header-cell *matHeaderCellDef>
        zwiastun
      </th>
      <td mat-cell *matCellDef="let element">
        <button routerLink="/movie/{{element.id}}">
          <mat-icon>display_film</mat-icon> <!-- DODAC IKONE-->
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns">
    </tr>
    <tr mat-row *matRowDef="let row; columns:displayedColumns;">
    </tr>
  </table>
  <mat-paginator [length]="moviesPage.totalElements" [pageSize]="moviesPage.size" [pageSizeOptions]="[5,10,25]"
                 (page)="changePage($event)">

  </mat-paginator>
</div>
