<div class="container font container-space">
  <h1>Repertuar</h1>
</div>
<div class="col-9 space" *ngIf="moviesPage$ | async  as moviesPage">
  <div *ngIf="repertoireList$ | async as repertoireList">
  <table mat-table [dataSource]="moviesPage.content">
    <!--      <ng-container matColumnDef="id">-->
    <!--        <th mat-header-cell *matHeaderCellDef>-->
    <!--          id-->
    <!--        </th>-->
    <!--        <td mat-cell *matCellDef="let element">-->
    <!--          {{element.id}}-->
    <!--        </td>-->
    <!--      </ng-container>-->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>
        <!--        <h6>title</h6>-->
      </th>
      <td class='title' mat-cell *matCellDef="let element">
        {{element.title}}
      </td>
    </ng-container>

    <!--    DODAN-->

    <ng-container matColumnDef="hours">
      <th mat-header-cell *matHeaderCellDef>
        godziny
      </th>
      <td class='title' mat-cell *matCellDef="let element">
       <div *ngFor = "let repertoire of repertoireList">
         <div *ngIf = "repertoire.movieId== element.id">
           {{repertoire.time}}
         </div>
       </div>
      </td>
    </ng-container>

    <!--      <ng-container matColumnDef="genre">-->
    <!--        <th mat-header-cell *matHeaderCellDef>-->
    <!--          genre-->
    <!--        </th>-->
    <!--        <td mat-cell *matCellDef="let element">-->
    <!--          {{element.genre}}-->
    <!--        </td>-->
    <!--      </ng-container>-->
    <!--      <ng-container matColumnDef="price">-->
    <!--        <th mat-header-cell *matHeaderCellDef>-->
    <!--          price-->
    <!--        </th>-->
    <!--        <td mat-cell *matCellDef="let element">-->
    <!--          {{element.price}}-->
    <!--        </td>-->
    <!--      </ng-container>-->
    <ng-container *ngIf="token$ | async" matColumnDef="reservation">
      <th mat-header-cell *matHeaderCellDef>
        reservation
      </th>
      <td mat-cell *matCellDef="let element">
        <button (click)="reserve(element)">
          <mat-icon>add_shopping_cart</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container *ngIf="currentUser$ | async" matColumnDef="remove">
      <th mat-header-cell *matHeaderCellDef>
        remove
      </th>
      <td mat-cell *matCellDef="let element">
        <button (click)="remove(element)">
          usun
        </button>
      </td>
    </ng-container>

    <ng-container *ngIf="currentUser$ | async" matColumnDef="dodaj">
      <th mat-header-cell *matHeaderCellDef>
        dodaj
      </th>
      <td mat-cell *matCellDef="let element">
        <a routerLink="/repertoire/{{element.id}}">
          dodaj
        </a>
      </td>
    </ng-container>


    <ng-container *ngIf="currentUser$ | async" matColumnDef="edytuj">
      <th mat-header-cell *matHeaderCellDef>
        edytuj
      </th>
      <td mat-cell *matCellDef="let element">
        <button (click)="edit(element)">
          edytuj
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="films">
      <!-- matColumnDef - mowi jaka kolumna ma byc wyswetlana powizazna z tablcia strigow w kompoencie-->
      <th mat-header-cell *matHeaderCellDef>
        <!--        zwiastun-->
      </th>
      <td mat-cell *matCellDef="let element">
        <button routerLink="/movie/{{element.id}}">
          <mat-icon>display_film</mat-icon> <!-- DODAC IKONE-->
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns">
    </tr>
    <tr mat-row *matRowDef="let row; columns:displayedColumns;">
    </tr>
  </table>
  <mat-paginator [length]="moviesPage.totalElements" [pageSize]="moviesPage.size" [pageSizeOptions]="[5,10,25]"
                 (page)="changePage($event)">

  </mat-paginator>
</div>
</div>


<section class="col-10 space">
  <h1 class="space-title">Teraz gramy</h1>
  <div *ngIf="imagesByMovieIds$ | async as imageDtos">
    <div class="row ">
      <div *ngFor="let element of imageDtos">
        <img class="poster" src="{{element.poster}}">
        <div class=" col-12">
          <h5 class="movieDto-title">{{element.movieDto.title}}</h5>
        </div>
      </div>
    </div>
  </div>


  <!--  <div  *ngIf="moviesPage$ | async as moviesPage">-->

  <!--        <div *ngFor="let element of moviesPage.content">-->
  <!--            {{element.title}}-->
  <!--        </div>-->

  <!--&lt;!&ndash;      </ng-container>&ndash;&gt;-->
  <!--&lt;!&ndash;    </table>&ndash;&gt;-->
  <!--  </div>-->


  <!--  <div *ngIf="images$ | async as imageDtos">-->
  <!--    <div *ngFor="let element of imageDtos">-->
  <!--      <img class="image rounded float-left" src="{{element.poster}}">-->
  <!--    </div>-->
  <!--  </div>-->


</section>
