.col-sm-4 {
  width: 33.33333%;
}

.ticket-header {
  margin-bottom: 10px;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

body
{
  /*background-color:#303030;*/
  /*color:#ffffff;*/
  font-size:20px;
  margin-left: 15%;
}


#container
{
  width:1000px;
  margin-left: auto;
  margin-right:auto;
}

/*.rectangle*/
/*{*/
/*  width:960px;*/
/*  margin:20px;*/
/*}*/

.square
{
  width:50%;
  float:left;
  margin-right: 200px

}

/*#logo*/
/*{*/
/*  float:left;*/
/*  font-family:'Josefin Sans', sans-serif;*/
/*  font-size:70px;*/
/*  width:600px;*/



/*}*/

/*#zegar*/
/*{*/
/*  float:left;*/
/*  font-family: 'Josefin Sans', sans-serif;*/
/*  font-size:70px;*/
/*}*/

.tile1
{
  margin:10px;
  width:450px;
  height:200px;
  background-color:#f7f7f7;;
  float:left;
}
.tile2
{
  margin:10px;
  width:450px;
  height:200px;
  float:left;
  color: white;
  background: linear-gradient(#bb005d, #7f0045);
}

.tile3
{
  margin:10px;
  width:450px;
  height:200px;
  float:left;
  color: white;
  border-right: 3px solid #c8006d;
  border-left: 3px solid #c8006d;
  border-top: 3px solid #c8006d;
  border-bottom: 3px solid #c8006d;
}


.ticket, .ticket-header {
  padding: 15px;
  text-align: center;
  color: #4c1e5f;
  background: #f7f7f7;
}

.ticket-header {
  font-size: 33px;
  font-weight: 700;
}

.super-offer{
  padding: 15px;
  text-align: center;
  font-size: 33px;
  font-weight: 700;
}
.ticket-name {
  font-weight: 600;
  margin-bottom: 15px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 40px;
  color: #4c1e5f;
  font-size: 24px;
}

.separator {
  margin: 0 7px;
}

.ticket-prise{
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0px;
  color: #4c1e5f;
}



