.col-sm-4 {
  width: 33.33333%;
}

.ticket-header {
  margin-bottom: 10px;
}

.row {

}

body
{
  font-size:20px;
  margin-left: 15%;
}


#container
{
  width:1000px;
  margin-left: auto;
  margin-right:auto;
}

.square
{
  width:50%;
  float:left;
  margin-right: 200px

}


.tile1
{
  background-color:#f7f7f7;;
}
.tile2
{
  color: white;
  background: linear-gradient(#bb005d, #7f0045);
}

.tile3
{
  color: white;
  border-right: 3px solid #c8006d;
  border-left: 3px solid #c8006d;
  border-top: 3px solid #c8006d;
  border-bottom: 3px solid #c8006d;
}


.ticket, .ticket-header {
  padding: 15px;
  text-align: center;
  color: #4c1e5f;
  background: #f7f7f7;
}

.ticket-header {
  font-weight: 700;
}

.super-offer{
  padding: 15px;
  text-align: center;
}
.ticket-name {
    font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  color: #4c1e5f;
}

.separator {
  margin: 0 7px;
}

.ticket-prise{
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0px;
  color: #4c1e5f;
}

.price {
  text-align: center;
}


