<body>
<br>
<br>
<br>
<br>
<br>
<div class="square"></div>
<div class="tile1">
  <div class="ticket-header"> Poniedziałek, Środa,<br>Czwartek</div>
</div>
<div class="tile2">
  <div class="super-offer">Super Tani<br>Wtorek</div>
</div>
<div class="tile1">
  <div class="ticket-header"> Piątek - Niedziela<br> Święta</div>
</div>
<div style="clear:both;"></div>

<div class="tile1">
  <div class="ticket-name ">Normalny</div>
  <p class = "ticket-prise">2D - 14,90&nbsp;zł | 3D - 14,90&nbsp;zł</p>
</div>
<div class="tile3">
  <div class="ticket-name ">Normalny</div>
  <p class = "ticket-prise">2D - 14,90&nbsp;zł | 3D - 14,90&nbsp;zł</p>
</div>
<div class="tile1">
  <div class="ticket-name ">Normalny</div>
  <p class = "ticket-prise">2D - 14,90&nbsp;zł | 3D - 14,90&nbsp;zł</p>
</div>
<div style="clear:both;"></div>

<div class="tile1">
  <div class="ticket-name ">Ulgowy</div>
  <p class = "ticket-prise">2D - 14,90&nbsp;zł | 3D - 14,90&nbsp;zł</p>
</div>
<div class="tile3">
  <div class="ticket-name ">Ulgowy</div>
  <p class = "ticket-prise">2D - 14,90&nbsp;zł | 3D - 14,90&nbsp;zł</p>
</div>
<div class="tile1">
  <div class="ticket-name ">Ulgowy</div>
  <p class = "ticket-prise">2D - 14,90&nbsp;zł | 3D - 14,90&nbsp;zł</p>
</div>
</body>

