<!--<body style="margin-bottom: 20%">-->
<!--<br>-->
<!--<br>-->
<!--<br>-->
<!--<br>-->
<!--<br>-->
<!--<div class="square"></div>-->
<!--<div class="tile1 t">-->
<!--  <div class="ticket-header"> Poniedziałek, Środa,<br>Czwartek</div>-->
<!--</div>-->
<!--<div class="tile2 t">-->
<!--  <div class="super-offer">Super Tani<br>Wtorek</div>-->
<!--</div>-->
<!--<div class="tile1 t">-->
<!--  <div class="ticket-header"> Piątek - Niedziela<br> Święta</div>-->
<!--</div>-->
<!--<div style="clear:both;"></div>-->

<!--<div class="tile1 t">-->
<!--  <div class="ticket-name ">Normalny</div>-->
<!--  <p class = "ticket-prise">2D - 14,90&nbsp;zł | 3D - 14,90&nbsp;zł</p>-->
<!--</div>-->
<!--<div class="tile3 t ">-->
<!--  <div class="ticket-name ">Normalny</div>-->
<!--  <p class = "ticket-prise">2D - 14,90&nbsp;zł | 3D - 14,90&nbsp;zł</p>-->
<!--</div>-->
<!--<div class="tile1 t">-->
<!--  <div class="ticket-name ">Normalny</div>-->
<!--  <p class = "ticket-prise">2D - 14,90&nbsp;zł | 3D - 14,90&nbsp;zł</p>-->
<!--</div>-->
<!--<div style="clear:both;"></div>-->

<!--<div class="tile1 t">-->
<!--  <div class="ticket-name ">Ulgowy</div>-->
<!--  <p class = "ticket-prise">2D - 14,90&nbsp;zł | 3D - 14,90&nbsp;zł</p>-->
<!--</div>-->
<!--<div class="tile3 t">-->
<!--  <div class="ticket-name ">Ulgowy</div>-->
<!--  <p class = "ticket-prise">2D - 14,90&nbsp;zł | 3D - 14,90&nbsp;zł</p>-->
<!--</div>-->
<!--<div class="tile1 t">-->
<!--  <div class="ticket-name ">Ulgowy</div>-->
<!--  <p class = "ticket-prise">2D - 14,90&nbsp;zł | 3D - 14,90&nbsp;zł</p>-->
<!--</div>-->
<!--</body>-->

<body style="">
<br>
<br>
<br>
<br>
<br>
<div class="row price">
  <div class="col-md-3 ">
    <div class="ticket-header"> Poniedziałek, Środa,<br>Czwartek</div>
    <div class="ticket-name ">Normalny</div>
    <p class="ticket-prise">2D - 14,90&nbsp;zł | 3D - 17,90&nbsp;zł</p>
    <div class="ticket-name ">Ulgowy</div>
    <p class="ticket-prise">2D - 14,90&nbsp;zł | 3D - 17,90&nbsp;zł</p>
  </div>
  <div class="col-md-4   ">
    <div class="super-offer tile2">Super Tani<br>Wtorek</div>
    <div class="tile3">
      <div class="ticket-name ">Normalny</div>
      <p class="ticket-prise ">2D - 8,90&nbsp;zł | 3D - 12,90&nbsp;zł</p>
      <div class="ticket-name ">Ulgowy</div>
      <p class="ticket-prise">2D - 8,90&nbsp;zł | 3D - 12,90&nbsp;zł</p>
    </div>
  </div>
  <div class="col-md-3">
    <div class="ticket-header"> Piątek - Niedziela<br> Święta</div>
    <div class="ticket-name">Normalny</div>
    <p class="ticket-prise">2D - 14,90&nbsp;zł | 3D - 17,90&nbsp;zł</p>
    <div class="ticket-name ">Ulgowy</div>
    <p class="ticket-prise">2D - 14,90&nbsp;zł | 3D - 17,90&nbsp;zł</p>

  </div>
</div>
<p>
<!--  DOTYCZY DZIECI, UCZNIÓW oraz STUDENTÓW na podstawie WAŻNEJ legitymacji uczniowskiej lub studenckiej. Dzieci do lat 2-->
<!--  wchodzą bezpłatnie.-->


<!--  *** SENIORZY od lat 60 oraz RENCIŚCI-->
</p>
</body>
