.navbar-hover:hover {
  color: #c8006d;
}

.menu-spacer {
  flex: 1 1 auto;
}

/deep/ .mat-sidenav-container mat-sidenav-content {
  overflow: hidden;
  background-color: white;
}

/deep/ .mat-toolbar mat-icon {
  color: white;
}

.mat-button, .mat-fab, .mat-flat-button, .mat-icon-button, .mat-mini-fab, .mat-raised-button, .mat-stroked-button {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 22px;
  font-weight: 500;
}


.mat-list-base .mat-list-item .mat-list-item-content, .mat-list-base .mat-list-option .mat-list-item-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  padding: 0 16px;
  position: relative;
  height: inherit;
  font-size: 21px;
}
