<div style="height: 80vh;">
  <mat-toolbar class="navbar navbar-expand-md navbar-dark bg-dark">
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
      <span class="menu-spacer"></span>
      <div fxShow="true" fxHide.lt-md>
        <a routerLink="/movies" mat-button class="navbar-brand navbar-hover"> Repertuar</a>
        <a routerLink="/price" mat-button class="navbar-brand navbar-hover"> Cennik</a>
        <a *ngIf="!(jwt$ | async)" routerLink="/register" mat-button class="navbar-brand navbar-hover">Zarejestruj
          się</a>
        <a class="nav-item" *ngIf="!(jwt$ | async)" routerLink="/login" mat-button class="navbar-brand navbar-hover">Zaloguj
          się</a>
        <a class="nav-item" *ngIf="(jwt$ | async)" (click)="logout()" routerLink="" mat-button
           class="navbar-brand navbar-hover">Wyloguj się</a>
        <a class="nav-item" *ngIf="showAdminPanel" routerLink="admin" mat-button class="navbar-brand navbar-hover">AdminPanel</a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container>

    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a (click)="sidenav.toggle()" routerLink="/movies" mat-list-item>Repertuar</a>
        <a routerLink="/price" mat-list-item> Cennik</a>
        <a *ngIf="!(jwt$ | async)" routerLink="/register" mat-list-item>Zarejestruj się</a>
        <a class="nav-item" *ngIf="!(jwt$ | async)" routerLink="/login" mat-list-item>Zaloguj się</a>
        <a class="nav-item" *ngIf="(jwt$ | async)" (click)="logout()" routerLink="" mat-list-item>Wyloguj się</a>
        <a class="nav-item" *ngIf="showAdminPanel" routerLink="admin" mat-list-item>AdminPanel</a>
      </mat-nav-list>
    </mat-sidenav>
    <router-outlet></router-outlet>
  </mat-sidenav-container>
  <app-footer></app-footer>

</div>






