<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-nav-list>
      <a mat-list-item routerLink="/login" *ngIf="!(jwt$ | async)">Zaloguj</a>
      <a mat-list-item routerLink="/register" *ngIf="!(jwt$ | async)">Zarejestruj</a>
      <a mat-list-item (click)="logout()" *ngIf="jwt$ | async">Wyloguj</a>
      <a mat-list-item routerLink="/movies">Movies</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="!drawer.toggle()">
        <mat-icon svgIcon="thumbs-up" aria-label="Side nav toggle icon"></mat-icon>
      </button>
      <span>Serwis</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>