<div *ngFor="let element of tab">
  <button (click)="loadRepertoire(element)">{{element}}</button>
</div>
<div *ngIf="repertoireList$ | async as repertoireDtos">
  <div *ngFor="let element of repertoireDtos">
    <button (click)="displaySeats(element)">
      {{element.time}}
    </button>
  </div>
</div>
<div>
  <div *ngIf="seats$ | async as seatDtos">
    <div *ngFor="let i of [1,2,3,4,5]">
      <div *ngFor="let j of [1,2,3,4,5]">
        <button [disabled]="checkSeat(seatDtos,i,j)==='zajete'" (click)="reserve(i,j)">{{i}} {{j}} {{checkSeat(seatDtos, i, j)}}</button>
      </div>
    </div>
  </div>
</div>
