#admin {
  margin-top: 50px;
}

td {
  padding: 5px 2.5px 5px 2.5px;
}

th {
  padding: 2.5px 2.5px;
}

.mat-header-cell {
  color: white;
  letter-spacing: .09em;
  background: linear-gradient(#bb005d, #7f0045);
  margin-bottom: 10%;
  text-transform: uppercase;
  font-family: Yu Gothic UI Semibold;
  font-size: 12px;

}

.button-admin:hover {
  text-decoration: none;
  background: #c8006d;
  color: white;
  margin: 2.5px 2.5px 2.5px 2.5px;
}

.button-admin {
  padding-right: 2px;
  padding-left: 2px;
  transition: all .1s ease-in-out;
  border-right: 1px solid #c8006d;
  border-left: 1px solid #c8006d;
  border-top: 1px solid #c8006d;
  border-bottom: 1px solid #c8006d;
  background-color: white;
  margin: 5px 5px 5px 5px;
}

tr:hover {
  background-color: #f5f5f5;
}

td mat-cell {
  font-family: "Apple Color Emoji";
}

.mat-header-cell {
  font-size: 14px;
  font-family: "Arial Black";
  padding-bottom: 16px;
  padding-left: 9px;
}

.row-admin {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: 15px;
}


td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-type {
  padding-left: 24px;
  padding-top: 14px;
}


