<!--<mat-card class="example-card">-->
<!--    <form [formGroup]="registerForm" (ngSubmit)="register()">-->
<!--        <formly-form [fields]="registerFields" [form]="registerForm">-->
<!--            <button [disabled]="!registerForm.valid" mat-raised-button color="primary" type="submit">-->
<!--                Zarejestruj-->
<!--            </button>-->
<!--        </formly-form>-->
<!--    </form>-->
<!--</mat-card>-->


<section id="register">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="card">
          <div class="card-header">
            <h4>Zarejestruj się </h4>
          </div>
          <div class="card-body">
            <form [formGroup]="registerForm" (ngSubmit)="register()">
              <formly-form [fields]="registerFields" [form]="registerForm">
                <button [disabled]="!registerForm.valid" mat-raised-button color="primary" type="submit">
                  Zaloguj
                </button>
              </formly-form>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
