<!-- Footer -->
<footer class="bg-dark" style="margin-top: 100px">

  <div class="container">

    <ul class="list-inline text-center" style="margin-top: 14px">
      <li class="list-inline-item ">
        <i class="fab fa-facebook-f fa-2x  icon-layout"></i>
      </li>
      <li class="list-inline-item">
          <i class="fab fa-twitter fa-2x  icon-layout"> </i>
      </li>

      <li class="list-inline-item">
        <i class="fab fa-linkedin-in fa-2x  icon-layout"> </i>
      </li>
      <li class="list-inline-item">
        <i class="fab fa-dribbble fa-2x  icon-layout"> </i>
      </li>
    </ul>

  </div>

  <div class="footer-copyright text-center py-3" style="color: white">© 2019 Copyright:
    <a href="https://mdbootstrap.com/education/bootstrap/"> Magdalena Karolczuk</a>
  </div>


</footer>
<!-- Footer -->

<!--<i class="fab fa-facebook-f fa-4x" ></i>-->
