<!--<mat-card class="example-card">-->
<!--  <form [formGroup]="loginForm" (ngSubmit)="login()">-->
<!--    <formly-form [fields]="loginFields" [form]="loginForm">-->
<!--      <button [disabled]="!loginForm.valid" mat-raised-button color="primary" type="submit">-->
<!--        Zaloguj-->
<!--      </button>-->
<!--    </formly-form>-->
<!--  </form>-->
<!--</mat-card>-->

<section id="login">
  <div class="container">
    <div class="row">
      <div class="col-9 mx-auto">
        <div class="card layout-color">
          <div class="card-header">
            <h4>Login</h4>
          </div>
          <div class="card-body">
            <form [formGroup]="loginForm" (ngSubmit)="login()">
              <formly-form [fields]="loginFields" [form]="loginForm">
                <button [disabled]="!loginForm.valid" mat-raised-button class="btn-text" type="submit">
                  Zaloguj
                </button>
              </formly-form>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
