<!--<mat-card class="example-card">-->
<!--  <form [formGroup]="loginForm" (ngSubmit)="login()">-->
<!--    <formly-form [fields]="loginFields" [form]="loginForm">-->
<!--      <button [disabled]="!loginForm.valid" mat-raised-button color="primary" type="submit">-->
<!--        Zaloguj-->
<!--      </button>-->
<!--    </formly-form>-->
<!--  </form>-->
<!--</mat-card>-->

<section id="login">
  <div class="container">
    <div class="row">
      <div class="col-8 mx-auto">
        <div class="card layout-color">
          <div class="card-header">
            <h4>Login</h4>
          </div>
          <div class="card-body">
            <form [formGroup]="loginForm" (ngSubmit)="login()">
              <formly-form [fields]="loginFields" [form]="loginForm">
                <button [disabled]="!loginForm.valid" mat-raised-button class="btn-text" type="submit">
                  Zaloguj
                </button>
<!--                <div *ngIf="errorLogin$" | async class="alert alert-secondary" role="alert" style="font-size:18px">-->
<!--                  Bledy login lub haslo. Proszę podać prawidłowe dane logowania.-->
<!--                </div>-->
                <div class="alert alert-secondary" role="alert" style="margin-top: 12px;" *ngIf="errorLogin$  | async">
                  Bledy login lub haslo. Proszę podać prawidłowe dane logowania.</div>


                <!--                <span *ngIf="errorLogin$ | async">Bledy login lub haslo</span>-->
              </formly-form>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
