<section id="movie-edit">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <div class="card">
          <div class="card-header">
            <h4>Edycja</h4>
          </div>
          <div class="card-body">
            <form [formGroup]="movieForm" (ngSubmit)="editMovie()">
              <formly-form [fields]="movieFields" [form]="movieForm">
                <button [disabled]="!formIsValid()" mat-raised-button class="btn-text" type="submit">
                  Edytuj
                </button>
              </formly-form>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
