.button-repertoire {
  padding: 15px 25px;
  color: #fff;
  border-color: transparent;
  background: linear-gradient(to right, #c8006d 0%, #7a0042 100%);
  border-left-color: #c8006d;
  border-right-color: #7a0042;
  height: 70px;
  width: 100px;
  text-align: center;
  border-radius: 17px;
  box-shadow: 0 9px #999;
  font-size: 18px;
  float: left;
  padding: 12px 7px;
  margin: 3px 3px;
  /*margin-bottom: 130px;*/
  flex-wrap: wrap;
}

.button-time {
  /*color: #fff;*/
  /*border-color: transparent;*/
  /*background: linear-gradient(to right, #c8006d 0%, #7a0042 100%);*/
  border-left-color: #c8006d;
  border-right-color: #c8006d;
  border-bottom-color: #c8006d;
  border-top-color: #c8006d;
  /*border-right-color: #7a0042;*/
  /*height: 70px;*/
  /*width: 100px;*/
  text-align: center;
  border-radius: 17px;
  /*box-shadow: 0 9px #999;*/
  font-size: 18px;
  float: left;
  padding: 12px 7px;
  margin: 3px 11px;
  margin-bottom: 100px;
  flex-wrap: wrap;
  color: black;
  background-color: white;
}
.button-time:hover{
  opacity: 0.65;
  transition: box-shadow .15s ease-in-out;
}

.space {
  margin-bottom: 100px
}


.button-seat {
  border: 1px outset green;
  background-color: #358e72;
  height: 70px;
  width: 70px;
  cursor: pointer;
  margin: 0px 5px 5px 0px;
}

.button-seat:hover {
  background-color: black;
  color: white;
}

.choice-seat {
  clear: left;
  margin-bottom: 100px;
  position: relative;
  margin-left: 130px;
}
